/** time slots **/
.time-slots-wrapper {
  height: 500px;
  overflow-y: auto;
}
.ms-scheduler-time-slot {
  user-select: none;
  border: 1px solid #e2e2e2;
  padding: 2px;
  margin: 2px;
}
.ms-scheduler-time-slot > p {
  display: inline-block;
  width: 30%;
  padding: 0;
  margin: 0;
}
.ms-scheduler-time-slot > div {
  display: inline-block;
  width: 70%;
}


/** plugin functionality **/
.ui-selecting {
  background: blue;
}
.ui-selected {
  background: tomato;
}
.prevented {
  background: #fd9e9e;
}
